<div class="canvas">
    <header>
        <h1>Fahrt läuft</h1>
        <mat-spinner class="light" diameter="50"></mat-spinner>
    </header>
    <div class="map-container">
        <div id="map"></div>
    </div>
    <footer>
        <table>
            <tr>
                <td>Fahrtzeit</td>
                <td>{{elapsedTimeInSeconds | time }}</td>
            </tr>
            <tr>
                <td>Fahrtstrecke</td>
                <td>{{distance | number : '0.3-3':'de'}} km</td>
            </tr>
            <tr>
                <td>Fahrer</td>
                <td>{{driver}}</td>
            </tr>
            <tr>
                <td>Fahrzeug</td>
                <td>{{vehicle.licensePlate}} {{vehicle.name}}</td>
            </tr>
        </table>

        <button mat-raised-button color="primary" (click)="end()">Fahrt beenden</button>

    </footer>
</div>